<form action="/gestionAdmin/gestionParticipantes" method="POST">
    <div class="modal-content">
        <h3>Nuevo participante</h3>
        <label> * Campos obligatorios.</label>
        <ul>
            <li><strong><br>Nombre *</strong></li>
            <li>
                <div class="input-field">
                    <input id="nombreP" name="nombre"  type="text" class="validate"  placeholder="Nombre(s)" required>
                </div>
            </li>
            <li><strong><br>Apellido paterno</strong></li>
            <li>
                <div class="input-field">
                    <input id="apellidoP" name="apellidoP" type="text" class="validate"  placeholder="Apellido paterno">
                </div>
            </li>
            <li><strong><br>Apellido materno</strong></li>
            <li>
                <div class="input-field">
                    <input id="apellidoM" name="apellidoM" type="text" class="validate"  placeholder="Apellido materno">
                </div>
            </li>
            <li><strong><br>Sexo *</strong></li>
            <li>
                <div class="input-field m4" required >
                    <select name = "sexo" required>
                      <option value="" disabled selected>Elige el sexo</option>
                      <option value="M">Mujer</option>
                      <option value="H">Hombre</option> 
                    </select>
                </div>
            </li>
            <li><strong><br>Correo o nombre de usuario *</strong></li>
            <li>
                <div class="input-field" requiered>
                    <input id="correo" name="correo" type="text" class="validate"  placeholder="Correo o usuario" onchange="generarContra();" required>
                </div>
            </li>
            <li><strong><br>Contraseña * </strong></li>
            <li>
            <div class="input-field">
                <input  id="contra" name= "contra"  type="text" class="validate" placeholder="contraseña" required>
            </div>
            </li>
            <li><strong><br>Fecha de nacimiento *</strong></li>
            <li>
                <div class="input-field " requiered>
                  <input type="text" id="fechaN" name="fechaN" class="datepickerP " required> 
                  <label for="fechaN">Elige la fecha de nacimiento</label> 
                </div>
            </li>
            <li"><strong><br>Teléfono del responsable</strong></li>
            <li>
                <div class="input-field ">
                    <input id="tel" name = "tel" type="text" class="validate" placeholder="Número telefónico">
                </div>
            </li>
        </ul>
  </div>
  <div class="modal-footer">
    <button  type = "submit"  class="modal-action waves-effect btn-flat grey lighten-1">Registrar</button>
    <label style="visibility:hidden">**</label>
    <br>
</div>
</form>