<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>   

<div class="row">
    <div class="col m1">
        <h2></h2>
        <div class="vl"></div>
    </div>
    <div class="col s11 m4">
        <ul>
          <li class = "camposPerfil"><strong><br>Formación profesional</strong></li>
          <li>Terapeuta ocupacional</li>
          <li class = "camposPerfil"><strong><br>Correo</strong></li>
          <li>alira@gigis.org</li>
          <li class = "camposPerfil"><strong><br>Estatus</strong></li>
          <li>Activo</li>
        </ul>
    </div>
    <div class="col s11 m4">
        <ul>
          <li class = "camposPerfil"><strong><br>Currículum</strong></li>
          <li><a class="waves-effect waves-light btn-small white black-text"><i class="material-icons left">file_download</i>Descargar</a></li>
          <li class = "camposPerfil"><strong><br>Programas a cargo</strong></li>
          <li>
              <div class="card horizontal">
                  <div class="card-content">
                      <span class="card-title">Terapia orofacial</span>
                      <label>Promedio 3.2 &nbsp;&nbsp;Avance 25%</label>
                  </div>
              </div>
          </li>
          <li>
              <div class="card horizontal">
                  <div class="card-content">
                      <span class="card-title">Terapia de lenguaje</span>
                      <label>Promedio 2.1 &nbsp;&nbsp;Avance 25%</label>
                  </div>
              </div>
          </li>
        </ul>
    </div>
    <div class="col m2">
      <p></p>
        <a class="waves-effect waves-light btn-small light-green accent-4" href = "./editar-terapeuta"><i class="material-icons left">edit</i>Editar</a>
    </div>
    
</div>  


<%- include('include/footer.ejs') %>