<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>     
<div class="row">
    <div class="col m1">
        <h2></h2>
        <div class="vl"></div>
    </div>
    <div class="col s11 m8">
        <ul>
          <li class = "camposPerfil"><strong><br>Correo</strong></li>
          <li>maguilar@gigis.org</li>
          <li class = "camposPerfil"><strong><br>Estatus</strong></li>
          <li>Activo</li>
          <li class = "camposPerfil"><strong><br>Rol(es)</strong></li>
          <li>Administrador, gestor</li>
        </ul>
    </div>
    <div class="col m2">
      <p></p>
        <a class="waves-effect waves-light btn-small light-green accent-4" href = "./editar-administrador"><i class="material-icons left">edit</i>Editar</a>
    </div>
</div>  
<%- include('include/footer.ejs') %>