<p><strong>Programas</strong></p>
<ul class="collapsible"> 
    <% for (let programa of programas) { %>  
        <li>
            <div class="collapsible-header">
                <%= programa.nombrePrograma %>
                <span class="badge">
                    <!-- Modal Editar -->
                    <a class="waves-effect waves-light modal-trigger black-text" href="#EditarPrograma-<%=programa.idPrograma%>"><i class="material-icons left">edit</i></a>
                </span>
            </div>
            <div class="collapsible-body">
                <div class="collection">
                    <% for (let nivel of niveles) { %>
                      <% if (nivel.idPrograma === programa.idPrograma) {%> 
                        <a href="./gestion-nivel-objetivos" class="collection-item"><%= nivel.nombreNivel %></a> 
                      <% } %>
                    <% } %>
                    <a class="collection-item modal-trigger" href="#agregarNivel-<%=programa.idPrograma%>">Nuevo nivel</a>
                </div>
            </div>
        </li>
    <% } %>
</ul>

