<form action="/gestionAdmin/gestionProgramas" method="POST" enctype="multipart/form-data">
  <div class="modal-content">
    <h3>Nuevo programa</h3>
    <ul>
      <li><strong><br>Nombre</strong></li>
      <li>
        <div class="input-field">
          <input name="nombreProgra" type="text" class="validate"  placeholder="Nombre" required>
        </div>
      </li>
      <li><strong><br>Nombre del nivel base</strong></li>
      <li>
        <div class="input-field">
          <input name="nivelBase" type="text" class="validate"  placeholder="Nombre del primer o único nivel" required>
        </div>
      </li>
      <li><strong><br>Puntaje máximo</strong></li>
      <li>
        <div class="input-field">
          <input name="puntajeMax" type="text" class="validate"  placeholder="Puntaje máximo" required>
        </div>
      </li>
      <li><strong><br>Imagen para el tablero</strong></li>
      <li>
        <div class="file-field input-field">
          <div class="btn">
            <i class="material-icons left">file_upload</i>Subir</a>
            <input type="file" name="imagen" required>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <br>
    <button  type = "submit" class="modal-action waves-effect waves-light-blue lighten-1 btn">Agregar<i class="material-icons right">send</i></button>
  </div>
</form>
