<form action="/gestionAdmin/gestionParticipantes" method="POST">
    <div class="modal-content">
        <h3>Nuevo usuario</h3>
        <ul>
            <li><strong><br>Nombre</strong></li>
            <li>
                <div class="input">
                    <input id="nombreP" name="nombre"  type="text" class="validate"  placeholder="Nombre(s)">
                </div>
            </li>
            <li><strong><br>Apellido paterno</strong></li>
            <li>
                <div class="input">
                    <input id="apellidoP" name="apellidoP" type="text" class="validate"  placeholder="Apellido paterno">
                </div>
            </li>
            <li><strong><br>Apellido materno</strong></li>
            <li>
                <div class="input">
                    <input id="apellidoM" name="apellidoM" type="text" class="validate"  placeholder="Apellido materno">
                </div>
            </li>
            <li><strong><br>Sexo</strong></li>
            <li>
                <div class="input-field blue">
                    <label>
                        <input class="with-gap blue lighten-1" name="group3" type="radio" checked />
                        <span>Femenino</span>
                        <input class="with-gap blue lighten-1" name="group3" type="radio" checked />
                        <span>Masculino</span>
                    </label>
                </div>
            </li>
            <li><strong><br><br><br>Correo</strong></li>
            <li>
                <div class="input">
                    <input id="correo" type="email" class="validate"  placeholder="correo o usuario">
                </div>
            </li>
            <li><strong><br>Fecha de nacimiento</strong></li>
            <li>
                <div class="input-field">
                  <input type="text" id="fechaN" class="datepickerP">
                  <label for="fecha">Elige la fecha de nacimiento</label>
                </div>
            </li>
            <li"><strong><br>Teléfono del tutor</strong></li>
            <li>
                <div class="input-field ">
                    <input id="tel" type="text" class="validate">
                    <label for="tel">número telefónico</label>
                </div>
            </li>
        </ul>
  </div>
  <div class="modal-footer">
    <button  type = "submit" class="modal-close waves-effect btn-flat">Agregar</button>
  </div>
</form>