<div class="modal-content">
    <form>
      <h3>Nuevo usuario</h3>
      <ul>
        <li><strong><br>Nombre</strong></li>
        <li>
          <div class="input">
            <input id="nombre" type="text" class="validate"  placeholder="Nombre(s)">
          </div>
        </li>
        <li><strong><br>Apellido paterno</strong></li>
        <li>
          <div class="input">
            <input id="apellidoP" type="text" class="validate"  placeholder="Apellido paterno">
          </div>
        </li>
        <li><strong><br>Apellido materno</strong></li>
        <li>
          <div class="input">
            <input id="apellidoM" type="text" class="validate"  placeholder="Apellido materno">
          </div>
        </li>
        <li><strong><br>Correo</strong></li>
        <li>
          <div class="input">
            <input id="correo" type="email" class="validate"  placeholder="correo@mail.com">
          </div>
        </li>
        <li><strong><br>Roles</strong></li>
        <li>
          <div class="input-field m4">
            <select name = "selRol" multiple>
              <% for (let rol of roles) { %>  
                <option value="<%= rol.valor %>"><%= rol.nombre %></option>
              <% } %>
            </select>
            <label>Selecciona los roles que desees asignar.</label>
          </div>
        </li>
      </ul>
    </form>
  </div>
  <div class="modal-footer">
    <a href="./gestion-usuarios" class="modal-close waves-effect btn-flat">Cancelar</a>
    <a href="#"  class="modal-close waves-effect btn-flat validarRol">Agregar</a>
  </div>