<form action="/gestionAdmin/gestionProgramas" method="POST">
  <div class="modal-content">
    <h3>Nuevo programa</h3>
    <ul>
      <li><strong><br>Nombre</strong></li>
      <li>
        <div class="input">
          <input id="nombreProgra" type="text" class="validate"  placeholder="Nombre">
        </div>
      </li>
      <li><strong><br>Nombre del nivel base</strong></li>
      <li>
        <div class="input">
          <input id="nivelBase" type="text" class="validate"  placeholder="Nombre del primer o único nivel">
        </div>
      </li>
      <li><strong><br>Imagen para el tablero</strong></li>
        <li>
          <div class="file-field input-field">
              <div class="file-field input-field waves-effect waves-light btn-small white black-text">
                  <i class="material-icons left">file_upload</i>Subir</a>
                  <input type="file" id = "dirImagen">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
          </div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <br>
    <a href="./" class="modal-close waves-effect btn-flat">Cancelar</a>
    <a href="#"  type = "submit" class="modal-close waves-effect btn-flat">Agregar</a>
  </div>
</form>