<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %> 
<div class="row">
    <div class="col m1">
        <h2></h2>
        <div class="vl"></div>
    </div>
    <div class="col s11 m3">
      <form>
        <ul>
          <li class = "camposPerfil"><strong><br>Nombre</strong></li>
          <li>
            <div class="input-field ">
              <input id="nombre" type="text" class="validate">
              <label for="nombre">Nombre(s)</label>
            </div>
          </li>
          <li class = "camposPerfil"><strong>Apellido paterno</strong></li>
          <li>
            <div class="input-field ">
              <input id="apellidoP" type="text" class="validate">
              <label for="apellidoP">Primer apellido</label>
            </div>
          </li>
          <li class = "camposPerfil"><strong>Apellido materno</strong></li>
          <li>
            <div class="input-field ">
              <input id="apellidoM" type="text" class="validate">
              <label for="apellidoM">Segundo apellido</label>
            </div>
          </li>
          <li class = "camposPerfil"><strong>Correo</strong></li>
          <li>
            <div class="input-field ">
              <input id="correo" type="text" class="validate">
              <label for="correo">Correo</label>
            </div>
          </li>
        </ul>
      </form>
    </div>
    <div class="col s11 m1"></div>
    <div class="col s11 m3">
      <ul>
        <li class = "camposPerfil"><strong><br>Sexo</strong></li>
        <li>
          <div class="input-field blue">
            <label>
                <input class="with-gap blue lighten-1" name="group3" type="radio" checked />
                <span>Femenino</span>
                <input class="with-gap blue lighten-1" name="group3" type="radio" checked />
                <span>Masculino</span>
            </label>
          </div>
        </li>
        <li class = "camposPerfil"><strong><br><br>Estatus</strong></li>
        <li>
          <div class="input-field blue">
            <label>
                <input class="with-gap blue lighten-1" name="group1" type="radio" checked />
                <span>Activo</span>
                <input class="with-gap blue lighten-1" name="group1" type="radio" checked />
                <span>Inactivo</span>
                <input class="with-gap blue lighten-1" name="group1" type="radio" checked />
                <span>Baja permanente</span>
            </label>
          </div>
        </li>
        <li class = "camposPerfil"><strong><br><br>Contacto</strong></li>
        <li>
          <div class="input-field ">
            <input id="tel" type="text" class="validate">
            <label for="tel">Número telefónico</label>
          </div>
        </li>
        <li class = "camposPerfil"><strong>Fecha de nacimiento</strong></li>
        <li>
          <div class="input-field">
            <input type="text" id="fechaN" class="datepickerP">
            <label for="fecha">Elige la fecha de nacimiento</label>
          </div>
        </li>
      </ul>
    </div>
    <div class="col m2">
      <p></p>
      <!-- Modal Eliminar Participante -->
      <a class="waves-effect waves-light modal-trigger btn-small light-green accent-4" href = "#modalEliminarP"><i class="material-icons left">delete</i>Eliminar</a>
    </div>
    <div class="col m2">
      <p></p>
      <!-- Modal Guardar Cambios -->
      <a class="waves-effect waves-light modal-trigger btn-small light-green accent-4" href = "#modalGuardarP"><i class="material-icons left">save</i>Guardar</a>
    </div>
</div>
<!-- Modal Structure Eliminar Participante-->
<div id="modalEliminarP" class="modal">
  <div class="modal-content">
  <h4>Eliminar participante</h4>
  <p>¿Está seguro de eliminar este participante?</p>
  </div>
  <div class="modal-footer">
  <a href="#" class="modal-close waves-effect btn-flat eliminarP">Sí</a>
  <a href="./editar-participante" class="modal-close waves-effect btn-flat">Cancelar</a>
  </div>
</div><!-- Fin Modal Structure Eliminar Participante-->
<!-- Modal Structure Guardar Cambios-->
<div id="modalGuardarP" class="modal">
  <div class="modal-content">
    <h4>Cambios guardados</h4>
    <p>Los cambios se han realizado con éxito.</p>
  </div>
  <div class="modal-footer">
    <a href="./perfil-participante" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
  </div>
</div><!-- Fin Modal Structure Guardar Cambios-->

<%- include('include/footer.ejs') %>