<%- include('include/head.ejs') %>
<%- include('include/titleBar.ejs') %>
<%- include('include/sideNavBar.ejs') %>   

<div class="row">
    <div class="col m1">
        <h1></h1>
        <div class="vl"></div>
    </div>
    <div class="col s11 m4">
        <ul>
          <li class = "camposPerfil"><strong><br>Sexo</strong></li>
          <li>Masculino</li>
          <li class = "camposPerfil"><strong><br>Estatus</strong></li>
          <li>Activo</li>
          <li class = "camposPerfil"><strong><br>Fecha de nacimiento</strong></li>
          <li>01/01/2001</li>
          <li class = "camposPerfil"><strong><br>Edad</strong></li>
          <li>20 años</li>
          <li class = "camposPerfil"><strong><br>Correo</strong></li>
          <li>alderete@hotmail.com</li>
          <li class = "camposPerfil"><strong><br>Número de  contacto</strong></li>
          <li>4422345043</li>
        </ul>
    </div>
    <div class="col s11 m4">
        <ul>
          <li class = "camposPerfil"><strong><br>Promedio general</strong></li>
          <li>3</li>
          <li class = "camposPerfil"><strong><br>Programas inscritos</strong></li>
          <!---Se puede hacer dinámica--->
          <li>
              <div class="card horizontal">
                  <div class="card-content">
                      <span class="card-title">Terapia de lenguaje</span>
                      <label>Calificación 3 &nbsp;&nbsp;Avance 25%</label>
                  </div>
              </div>
          </li>
          <li>
              <div class="card horizontal">
                  <div class="card-content">
                      <span class="card-title">Cocina</span>
                      <label>Calificación 4 &nbsp;&nbsp; Avance 50%</label>
                  </div>
              </div>
          </li>
          <li>
              <div class="card horizontal">
                  <div class="card-content">
                      <span class="card-title">Lectura</span>
                      <label>Calificación 2 &nbsp;&nbsp;Avance 0%</label>
                  </div>
              </div>
          </li>
        </ul>
    </div>
    <div class="col m2">
      <p></p>
        <a class="waves-effect waves-light btn-small light-green accent-4" href = "./editar-participante"><i class="material-icons left">edit</i>Editar</a>
    </div>
    
</div>  


<%- include('include/footer.ejs') %>